<a href="https://colab.research.google.com/github/HectorCedilloCharles1/MineriaDeDatos/blob/main/Avance1_PIA_Equipo5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PIA: Avance 1  
## Grupo 001 Minería de datos
Lunes 7:00-10:00pm  
## Equipo 5:  
* 1844452 - Castillo Rodríguez, Leonardo Daniel 
* 1851642 - Cedillo Charles, Hector
* 1877422 - Martinez Ortuño, Gustavo Juan 
* 1869864 - Morales Salazar, César Alejandro
* 1851701 - Navarrete Rosales, Jose Eduardo

# European Soccer Score Card Database

### 1. Título de la base de datos

**a)** European Soccer Score Card Database

**b)** Url: https://www.kaggle.com/omercolakoglu/european-soccer-score-card-database

### 2. Introducción general

El fútbol une al mundo y a todas las personas, millones de aficionados ven día a día los partidos del equipo del que son hinchas, o inclusive sin serlos, este deporte logra apasionar a muchas personas. El fútbol engancha, no distingue de sexo ni de edad, y en muchos casos nos da hasta una identidad, pero, sobre todo, el fútbol es sencillo. El mundial, la Eurocopa, la UEFA Champions League y entre muchos más torneos, se presentan como fenómenos sociales y no sólo deportivos con los que se quiere buscar un optimismo desaparecido, una diversión y alegría que impulse a la gente. El fútbol se ha convertido en mucho más que un deporte.

En este maravilloso deporte hay muchos estilos de juego diferentes, cada jugador destaca por sus cualidades físicas y por sus habilidades con el balón, pero independientemente de los gustos hacia un estilo en específico, lo que más se premia es la eficacia, la constancia y es que como lo dijo Cristiano Ronaldo: "Los números no engañan, las estadísticas nunca engañan." Por lo que tener una herramienta que nos ayude a medir dicha eficacia, es más que útil en el fútbol profesional, ya que, a pesar de que hay muchos jugadores de "momentos", el conocer el impacto estadísticamente hablando que tiene un jugador en su equipo, es algo que debería volverse vital a la hora de realizar contrataciones.

### 3. Descripción de los datos

**a) Tipo de datos**  
La base de datos está compuesta por una tabla de 74 columnas. En dicha base de datos se encuentran almacenados los datos históricos de una gran cantidad de jugadores importantes en el futbol soccer, de los cuales se almacenaron las estadísticas de cada uno de ellos.  
  
**b) Descripción de las columnas**  
Las columnas están separadas en diferentes tipos de datos; los datos más predominantes son del tipo *entero*, ya que están almacenados los números estadísticos de cada futbolista, tales como los goles(de tiro libre, penal, etc.), partidos jugados, partidos ganados, etc. Asimismo, también tenemos columnas donde se almacenan datos del tipo *flotante*, tales como los porcentajes de pases efectivos, promedio de goles anotados por partido, etc. Y finalmente columnas con datos del tipo *object*, donde se almacenan los nombres de los jugadores, clubes a los que pertenecieron, etc.

### 4. Justificación del uso de los datos

a)	Características que han llamado la atención:
Resulta interesante trabajar con esta base debido a que los datos que contiene corresponden a medidas de desempeño de los jugadores de una liga de futbol, y destaca el hecho de que hay una cantidad importante de estos datos correspondientes a un mismo jugador, lo cual parece atractivo de analizar en cuanto a que estos podrían ser poco dispersos.
Aunado a esto, quienes realizan el análisis muestran un gran interés por dicho análisis debido a que el tema es algo que corresponde a sus gustos personales.
 
b)	Qué beneficio encuentran al trabajar con estos datos:
En primer lugar, al tratarse de una base extensa, es prudente pensar que puede brindar información suficiente para llegar a conclusiones precisas respecto a los objetivos planteados en este mismo documento.
Además, como se ha mencionado anteriormente, al tratarse de datos que probablemente sean poco dispersos (debido a que hay múltiples registros de un mismo jugador), la veracidad de las conclusiones también resulta más confiable.
Por último, el hecho de que la base cuente con una cantidad extensa de columnas (que corresponden a criterios que evalúan este desempeño de los jugadores) también brinda confianza a las conclusiones que se obtienen de su análisis.

### 5. Objetivo final

Conocer al mejor jugador de las diferentes ligas europeas en cuanto a números y estadisticas se refiere de los últimos años

**Objetivos secundarios**

*   Conocer un promedio de edad de la mejor epoca de los jugadores que  militan en Europa
*   Identificar que caracteristicas se presentan con mayor frecuencia en los jugadores de alto rendimiento que militan en la liga europea

### 6. Mencionar preguntas de interés

* ¿Cual es el equipo con mejores jugadores a lo largo de la historia?
* ¿Cual es la mejor liga del mundo en base a los jugadores que juegan en ella?

### 7. Parte de programación

* **Importar librerias y base de datos**

In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
base_soccer=pd.read_table('/content/Bases/Euro_Soccer_Player_Scorecard.csv', sep=',')

* **Visualizar los datos**

In [5]:
base_soccer

         ROWID  PLAYERID    PID  ...  HOMETEAM_GOAL AWAYTEAM_GOAL MATCH_STATUS
0         3169     39890   6893  ...              1             1        EQUAL
1         3171     38788   3928  ...              1             1        EQUAL
2         3172     38312   1692  ...              1             1        EQUAL
3         3173     26235   4863  ...              1             1        EQUAL
4         3177     26916   1804  ...              1             1        EQUAL
...        ...       ...    ...  ...            ...           ...          ...
542276  571534     25772  11030  ...              4             3         LOSS
542277  571535     40274   1276  ...              4             3         LOSS
542278  571536     34035   7117  ...              4             3         LOSS
542279  571537     41726   9751  ...              4             3         LOSS
542280  571538    527103   1380  ...              4             3         LOSS

[542281 rows x 74 columns]

* **Descripcion básica de columnas (tipo, elementos, celdas vacias, etc.)**

In [6]:
#Primero hay que conocer el número exacto de filas y columnas que existen en la base de datos.
print("El número de  filas y columnas es: ",base_soccer.shape)

El número de  filas y columnas es:  (542281, 74)

In [7]:
#Ahora veamos algunos de los tipo de datos con los que trabaja cada columna.
base_soccer.dtypes

ROWID               int64
PLAYERID            int64
PID                 int64
PLAYERNR            int64
PLAYER_NAME        object
                   ...
GK_POSITIONING    float64
GK_REFLEXES       float64
HOMETEAM_GOAL       int64
AWAYTEAM_GOAL       int64
MATCH_STATUS       object
Length: 74, dtype: object

In [9]:
#Comprobemos si hay valores nulos y cuantos por columna
base_soccer.isnull().sum()
#Nota: es normal que en las columnas de GK haya tantos valores nulos, pues estas características son únicamente para porteros

ROWID                 0
PLAYERID              0
PID                   0
PLAYERNR              0
PLAYER_NAME           0
                  ...
GK_POSITIONING    10788
GK_REFLEXES       10788
HOMETEAM_GOAL         0
AWAYTEAM_GOAL         0
MATCH_STATUS          0
Length: 74, dtype: int64

* **El objetivo es una clasificación con los datos, asi que hay que acomodar los datos de manera que se nos facilite esta tarea.**

Antes de seguir avanzando, es conveniente filtrar las columnas de la tabla con las que estaremos trabajando, y desechar las que no, ya que contamos con un gran número de las mismas. 
### **Columnas que serán eliminadas:**
* **Row ID:** Solo es un contador de las filas, para ello ya contamos con los que proporciona el propio Python al guardar la base de datos.
* **Player NR y PID:** Al tener "Player ID", esta columna puede ser desechada.
* **Birthdate:** Esto debido a que al contar con la columna "AGE" pasa a ser irrelevante para nuestro estudio.
* **Team short name:** Al igual que el caso anterior, contamos con las columnas "TEAM" y "TEAM ID", además, hay muchos equipos que tienen valores nulos en este apartado.
* **Potential:** Nos enfocamos en lo que ya pasó, no en lo que pudo haber pasado, este apartado no nos aprota nada.
* **Atacking y Defending Work Rate:** Estas columnas no representan la calidad del jugador en dichos aspectos, es más que nada sobre los esfuerzos que realiza, y tampoco es nuestro interés, ya que perseguimos únicamente los resultados.
* **Possesion Count:** La posesion no es un aspecto importante para calificar a un jugador.
* **Match API ID:** No será relevante ni útil para nosotros esta columna.

In [10]:
#Eliminamos las columnas
del(base_soccer['ROWID'])
del(base_soccer['PID'])
del(base_soccer['PLAYERNR'])
del(base_soccer['BIRTHDATE'])
del(base_soccer['TEAM_SHORT_NAME'])
del(base_soccer['POTENTIAL'])
del(base_soccer['DEFENSIVE_WORK_RATE'])
del(base_soccer['ATTACKING_WORK_RATE'])
del(base_soccer['POSSESIONCOUNT'])
del(base_soccer['MATCH_API_ID'])
#El orden de las columnas esta perfecto tal cuál están en la base de datos, por lo que no modificaremos dicho apartado.

* **Cambiar nombres de columnas.**

In [24]:
#Cambiamos los nombres al español
base_soccer=base_soccer.rename(columns={'PLAYER_NAME':'Nombre del jugador','PLAYERID':'ID','OVERALL_RATING':'Calificacion general','AGE':'Edad','HEIGHT':'Estatura','_TEAM':'Equipo','TEAMID':'ID Equipo','MATCHID':'ID Partido','TEAMTYPE':'Tipo equipo','DATE_':'Fecha','OTHERTEAM':'Otro equipo'})
base_soccer=base_soccer.rename(columns={'SELFGOAL':'Autogoles','CROSSGOAL':'Gol cruzado','LEAGUENAME':'NombreLiga','COUNTRY':'Pais','COUNT_':'Conteo','RESULT':'Resultado','WINCOUNT':'Victorias','LOSTCOUNT':'Derrotas'})
base_soccer=base_soccer.rename(columns={'EQUALCOUNT':'Empates','GOALCOUNT':'Goles','FAULCOUNT':'Fauls','CARDCOUNT_Y':'1raAmarilla','CARDCOUNT_Y2':'2daAmarilla','YEAR_':'Año','SEASON':'Temporada','PREFFERRED_FOOT':'Pie','CROSSING':'Cruce'})
base_soccer=base_soccer.rename(columns={'FINISSHING':'Finalizacion','HEADING_ACCURACY':'Cabeceo','SHORT_PASSING':'PaseCorto','VOLLEYS':'Voleas','DRIBBLING':'Dribbling','CURVE':'Efecto'})
base_soccer=base_soccer.rename(columns={'AGILITY':'Agilidad','REACTION':'Reaccion','BALANCE':'Balance','SHOT_POWER':'FuerzaTiro','JUMPING':'Salto','STAMINA':'Resistencia','STRENGTH':'Fuerza','LONG_SHOTS':'TirosLargos','AGRESSION':'Agresividad','INTERCEPTIONS':'Intercepciones','POSITIONING':'Posicionamiento','VISION':'Vision','PENALTIES':'Penalties','MARKING':'Marca','STANDING_TACKLE':'Entradas','SLIDING_TACKLE':'Barridas','GK_DIVING':'POR_Estirada','GK_HANDLING':'POR_Paradas','GK_KICKING':'POR_Despeje','GK_POSITIONING':'POR_Posicionamiento','GK_REFLEXES':'POR_Reflejos','HOMETEAM_GOAL':'GolLocal','AWAYTEAM_GOAL':'GolVisitante','MATCH_STATUS':'Estatus'})
base_soccer=base_soccer.rename(columns={'FREE_KICK_ACCURACY':'PrecisionTiroLibre','LONG_PASSING':'PaseLargo','BALL_CONTROL':'ControlBalon','ACCELERATION':'Aceleracion','SPRINT_SPEED':'VelocidadMaxima'})




base_soccer

            ID     Nombre del jugador  Edad  ...  GolLocal  GolVisitante Estatus
0        39890           Mark Volders    32  ...         1             1   EQUAL
1        38788     Gonzague Vandooren    30  ...         1             1   EQUAL
2        38312  Chemcedine El Araichi    28  ...         1             1   EQUAL
3        26235          Jeremy Sapina    24  ...         1             1   EQUAL
4        26916     Christophe Lepoint    25  ...         1             1   EQUAL
...        ...                    ...   ...  ...       ...           ...     ...
542276   25772     Zdravko Kuzmanovic    28  ...         4             3    LOSS
542277   40274       Birkir Bjarnason    27  ...         4             3    LOSS
542278   34035  Matias Emilio Delgado    33  ...         4             3    LOSS
542279   41726         Shkelzen Gashi    27  ...         4             3    LOSS
542280  527103           Breel Embolo    18  ...         4             3    LOSS

[542281 rows x 64 columns]

* **Guardar otros archivos con agrupaciones.**

In [25]:
base_soccer.to_csv("Base Soccer Scorecards Modificada.csv")

* **Responder las preguntas de interes.**

* **¿Cual es el equipo con mejores jugadores a lo largo de la historia?**
Primero se tendria que realizar un analisis mediante agrupaciones por equipo en el cual mediante estadisticos se pueda hacer un resumen de los jugadores que juegan o jugaron ahi, para asi poder tener una vision general de la de calidad de jugadores que han logrado tener a lo largo de su historia. 

* **¿Cual es la mejor liga del mundo en base a los jugadores que juegan en ella?**
Al igual que con la pregunta anterior, lo recomendable seria realizar una agrupacion, sin embargo, ahora seria liga. Despues de realizar esta agrupacion podremos tener una vision de general de como se comportan los datos y poder llegar a una conclusion de la pregunta planteada.

# ---------------------------------------------------------------------------------------------------------------

# New York Stock Exchange

### 1. Título de la base de datos

**a)** New York Stock Exchange

**b)** Url: https://www.kaggle.com/dgawlik/nyse

### 2. Introducción general

La Bolsa de Nueva York (NYSE) es el mayor mercado de valores del mundo en volumen monetario y el primero en número de empresas adscritas. Su volumen en acciones fue superado por la del NASDAQ en los 1990, pero el capital de las compañías listadas en la NYSE es 5 veces mayor que en el NASDAQ. La Bolsa de Nueva York cuenta con un volumen anual de transacciones de 36 billones de dólares, incluidos los 12 billones de compañías no estadounidenses.

Impresionante, ¿verdad? Cada día se hacen compras y ventas de valores, y esta demás el decir para qué sería útil una herramienta de este tipo, por ejemplo, con los precios históricos de las acciones, se puede realizar un análisis para hallar el momento ideal para entrar o salir de la empresa, entre muchas cosas más...

### 3. Descripción de los datos

**a) Tipo de datos**  
Se tienen 4 archivos que contienen las bases de datos.  
En la primera tenemos una tabla, donde se encuentran todos los fundamentos necesarios para procesar la información, tales como las métricas anuales contenidas en el periodo de 2012 a 2016.  
La segunda se trata de una tabla como "raw data" que contiene los precios establecidos pero sin procesar.
La tercera está basada en la segunda, ya que se trata de una tabla que contiene almacenados los precios ajustados.  
Y la última, se trata de una tabla con información general de los sectores de cada empresa.
  
**b) Descripción de las columnas**  
En la primera base de datos tenemos una tabla compuesta por 79 columnas, donde el principal ordenamiento es por fechas. Las demás columnas son de datos y métricas a lo largo de los años. Dichas métricas varían entre totales, valores promedios, valores anuales, etc.  
En la segunda base tenemos una tabla compuesta por 7 columnas, en donde tenemos una columna de fecha y el resto de columnas son los precios establecidos en cada año, tales como el precio de apertura, cierre, bajo, alto, etc.  
En la tercera tenemos la misma información que en la segunda, sin embargo se realizó un ajuste que servirá en el despliegue de dicha información.
Por último, en la cuarta base tenemos una tabla de 8 columnas, de las cuales tenemos información importante con los nombres y sectores de cada empresa, así como las regiones y áreas que ayudarán a asignar a las empresas por el factor que se requiera en ese momento.

### 4. Justificación del uso de los datos

a) Características que han llamado la atención: Resulta interesante trabajar con esta base debido a que los datos que contiene corresponden a medidas de desempeño de las acciones en la bolsa de Nueva York, y destaca el hecho de que hay una cantidad importante y variedad de  datos diferentes que pueden ser analizadas. Hay mucha información a trabajar, datos de diferentes tipos, etcétera, lo cual ha llamado mucho la atención de los programadores.

b) Qué beneficio encuentran al trabajar con estos datos: En primer lugar, al tratarse de una base extensa, es prudente pensar que puede brindar información suficiente para llegar a conclusiones precisas respecto a los objetivos planteados en este mismo documento. Además, la variedad de información que se tiene puede significar en que la veracidad de las conclusiones también resulte más confiable.

### 5. Objetivo final

Encontrar cuál fue la acción más rentable en todo ese tiempo, y realizar una predicción al día de hoy para ver que tan precisa fue.

### 6. Mencionar preguntas de interés

* Analizar el comportamiento de las acciones para ver cuales son mas eficientes
* ¿Que empresas aumentaron su valor?

### 7. Parte de programación

* **Importar librerias y base de datos**

In [26]:
import os
import pandas as pd
import numpy as np

* **Visualizar los datos**

In [40]:
base_fund=pd.read_table('/content/Bases/fundamentals.csv', sep=',')
base_fund.head(5)

   Unnamed: 0 Ticker Symbol  ... Earnings Per Share  Estimated Shares Outstanding
0           0           AAL  ...              -5.60                  3.350000e+08
1           1           AAL  ...             -11.25                  1.630222e+08
2           2           AAL  ...               4.02                  7.169154e+08
3           3           AAL  ...              11.39                  6.681299e+08
4           4           AAP  ...               5.29                  7.328355e+07

[5 rows x 79 columns]

In [41]:
base_price=pd.read_table('/content/Bases/prices.csv', sep=',')
base_price.head(5)

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

In [42]:
base_price_adj=pd.read_table('/content/Bases/prices-split-adjusted.csv', sep=',')
base_price_adj.head(5)

         date symbol        open       close         low        high     volume
0  2016-01-05   WLTW  123.430000  125.839996  122.309998  126.250000  2163600.0
1  2016-01-06   WLTW  125.239998  119.980003  119.940002  125.540001  2386400.0
2  2016-01-07   WLTW  116.379997  114.949997  114.930000  119.739998  2489500.0
3  2016-01-08   WLTW  115.480003  116.620003  113.500000  117.440002  2006300.0
4  2016-01-11   WLTW  117.010002  114.970001  114.089996  117.330002  1408600.0

In [43]:
base_sec=pd.read_table('/content/Bases/securities.csv', sep=',')
base_sec.head(5)

  Ticker symbol             Security  ... Date first added      CIK
0           MMM           3M Company  ...              NaN    66740
1           ABT  Abbott Laboratories  ...       1964-03-31     1800
2          ABBV               AbbVie  ...       2012-12-31  1551152
3           ACN        Accenture plc  ...       2011-07-06  1467373
4          ATVI  Activision Blizzard  ...       2015-08-31   718877

[5 rows x 8 columns]

* **Descripcion básica de columnas (tipo, elementos, celdas vacias, etc.)**

In [33]:
base_fund.dtypes

Unnamed: 0                        int64
Ticker Symbol                    object
Period Ending                    object
Accounts Payable                float64
Accounts Receivable             float64
                                 ...
Total Revenue                   float64
Treasury Stock                  float64
For Year                        float64
Earnings Per Share              float64
Estimated Shares Outstanding    float64
Length: 79, dtype: object

In [34]:
base_price.dtypes

date       object
symbol     object
open      float64
close     float64
low       float64
high      float64
volume    float64
dtype: object

In [35]:
base_price_adj.dtypes

date       object
symbol     object
open      float64
close     float64
low       float64
high      float64
volume    float64
dtype: object

In [36]:
base_sec.dtypes

Ticker symbol              object
Security                   object
SEC filings                object
GICS Sector                object
GICS Sub Industry          object
Address of Headquarters    object
Date first added           object
CIK                         int64
dtype: object

* **Cambiar nombres de columnas.**

In [38]:
base_fund=base_fund.rename(columns={'Ticker Symbols':'Simbolo','Period Ending':'Finalizacion de periodo','Accounts Payable':'Cuentas pagables'})
base_price=base_price.rename(columns={'date':'Fecha','symbol':'Simbolo','open':'Apertura','close':'Cierre','low':'Baja','high':'Alta','Volume':'Volumen'})
base_price_adj=base_price_adj.rename(columns={'date':'Fecha','symbol':'Simbolo','open':'Apertura','close':'Cierre','low':'Baja','high':'Alta','Volume':'Volumen'})
base_sec=base_sec.rename(columns={'Ticker Symbol':'Simbolo','Security':'Seguridad','GICS Sector':'Sector GICS','Address of Headquarters':'Dirección de base','Date first added':'Fecha de primer agregado'})

* **Guardar otros archivos con agrupaciones.**

In [39]:
base_fund.to_csv("Base Fundamentos Modificada.csv")
base_price.to_csv("Base Precios Modificada.csv")
base_price_adj.to_csv("Base Precios Ajustados Modificada.csv")
base_sec.to_csv("Base Seguridad Modificada.csv")

 **Responder las preguntas de interes.**

* **Analizar el comportamiento de las acciones para ver cuales son mas eficientes**
Realizar un análisis a los datos para ver cual es su comportamiento y poder llegar a una conclusion a la pregunta planteada.

* **¿Que empresas aumentaron su valor?**
Realizar una comparacion sobre los niveles economicos en los que se encuentra la empresa en la actualidad contra los niveles que se encontraba en años posteriores, para asi poder concluir cuales empresas aumentaron su valor.