
# **Ejercicio 1:**
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [1]:
Mat=1851642
print("Hector Cedillo Charles",Mat)

Hector Cedillo Charles 1851642

# **Ejercicio 2:**
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Utilizando el loop de while

In [3]:
num1 = int(input("Introduce un número: " )) #Pide los numeros al usuario
num2 = int(input("Introduce otro número:  "))
#Realiza Operaciones
print ("La suma de los numeros es: ",num1+num2 )
print("La resta del primer numeros y el segundo es: ",num1-num2 )
print("La multiplicacion de los numeros es: ",num1*num2 )
print("La division del primer numeros entre el segundo es: ",num1/num2 )
print("El primer numero elevado al segundo numero es: ",num1**num2 )

Introduce un número: 7
Introduce otro número:  5
La suma de los numeros es:  12
La resta del primer numeros y el segundo es:  2
La multiplicacion de los numeros es:  35
La division del primer numeros entre el segundo es:  1.4
El primer numero elevado al segundo numero es:  16807

# **Ejercicio 3:**
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [4]:
x=3 #Ingresamos el numero del cual seran multiplos los numeros
suma=0
i=0
for i in range(0,10) :
    print(x)
    suma=suma+x
    x=x+3
    i=i+1

print('La suma de los primeros 10 multiplos de 3 es: ',suma)

3
6
9
12
15
18
21
24
27
30
La suma de los primeros 10 multiplos de 3 es:  165

# **Ejercicio 4**
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

Uso de funciones en python:

In [9]:
x= int(input("Introduce un número: " ))
#Codigo para par o impar
if x%2==0:
    print('El numero que ingreso es par')
else:
    print('El numero que ingreso es impar')
#Codigo para primo o  no primo
i=0
c=0
for i in range(2,x):
    if x%i==0:
        c=c+1
if c==0:
    print('El numero que ingreso es primo')
else:
    print('El numero que ingreso no es primo')

Introduce un número: 29
El numero que ingreso es impar
El numero que ingreso es primo

# **Ejercicio 5**
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Funciones matemáticas en la librería de math en python:

In [22]:
import math as m
print("Bienvenido, para salir pulse 6")
o=0
x=0
y=0
z=0
while o!=5:
    o=int(input('Ingresa una opción:\n0. Suma\n1. Resta\n2. Multiplicación\n3. División\n4. Potencia\n5. Salir\n\nOpcion:'))
    if o<0 or o>6:
        o=int(input("Error "))
    if o==0:
        x=float(input("Ingresa un número: "))
        y=float(input("Ingresa otro número: "))
        z=x+y
        print("La suma de los números es: ",z)
    if o==1:
        x=float(input("Ingresa un número: "))
        y=float(input("Ingresa otro número: "))
        z=x-y
        print("La resta de los números es: ",z)
    if o==2:
        x=float(input("Ingresa un número: "))
        y=float(input("Ingresa otro número: "))
        z=x*y
        print("La multiplicacion de los números es: ",z)
    if o==3:
        x=float(input("Ingresa un número: "))
        y=float(input("Ingresa otro número: "))
        z=x/y
        print("La division de los números es: ",z)
    if o==4:
        x=float(input("Ingresa un número: "))
        y=float(input("Ingresa otro número: "))
        z=x**y
        print('El primer numero elevado al segundo numero es:',z)
print("Gracias")

Bienvenido, para salir pulse 6
Ingresa una opción:
0. Suma
1. Resta
2. Multiplicación
3. División
4. Potencia
5. Salir

Opcion:4
Ingresa un número: 5
Ingresa otro número: 3
El primer numero elevado al segundo numero es: 125.0
Ingresa una opción:
0. Suma
1. Resta
2. Multiplicación
3. División
4. Potencia
5. Salir

Opcion:5
Gracias

# **Ejercicios con estructuras básicas de python.**
## **Tuplas**
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [24]:
fl=2.34544
i=1
bo=True
com=2+1j
print('La variable',fl,'es de tipo',type(fl))
print('La variable',i,'es de tipo',type(i))
print('La variable',bo,'es de tipo',type(bo))
print('La variable',com,'es de tipo',type(com))

La variable 2.34544 es de tipo <class 'float'>
La variable 1 es de tipo <class 'int'>
La variable True es de tipo <class 'bool'>
La variable (2+1j) es de tipo <class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [65]:
ar=(1,2,3,4,5,6,7,8,9,15)
print("El primer valor es: ",ar[0]," El ultimo valor es: ",ar[len(ar)-1])

El primer valor es:  1  El ultimo valor es:  15

Añadir 3 valores de string a la tupla.

In [66]:
ar=ar+("Hola","me llamo","Hector")
print(ar)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 'Hola', 'me llamo', 'Hector')

Verificar si una variable existe dentro de la tupla.

In [69]:
print(ar)
tipo=input("Escriba el tipo de variable que busca: Int o String: ")
if tipo=="String":
  var=input("Ingrese la variable: ")
  if var in ar:
    print("La variable existe")
  else:
    print("La variable no existe")
if tipo=="Int":
  var=int(input("Ingrese la variable: "))
  if var in ar:
    print("La variable existe")
  else:
    print("La variable no existe")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 'Hola', 'me llamo', 'Hector')
Escriba el tipo de variable que busca: Int o String: Int
Ingrese la variable: 4
La variable existe

# **Listas**
Crear una lista con 40 elementos aleatorios enteros.

In [99]:
import random
X=range(1,250)
lista1=random.sample(X,40)
print(lista1)

[83, 18, 23, 69, 201, 10, 232, 243, 121, 218, 63, 208, 220, 237, 53, 202, 209, 70, 136, 7, 26, 134, 198, 185, 240, 248, 167, 12, 75, 137, 180, 204, 15, 82, 177, 166, 76, 84, 178, 42]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [100]:
def par(lista):
    par=list()
    for x in lista:
        if x%2==0:
            par.append(x)
    return par
def impar(lista):
    impar=list()
    for x in lista:
        if x%2!=0:
            impar.append(x)
    return impar
listapar=par(lista1)
print(listapar)
listaimpar=impar(lista1)
print(listaimpar)

[18, 10, 232, 218, 208, 220, 202, 70, 136, 26, 134, 198, 240, 248, 12, 180, 204, 82, 166, 76, 84, 178, 42]
[83, 23, 69, 201, 243, 121, 63, 237, 53, 209, 7, 185, 167, 75, 137, 15, 177]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [101]:
npar=len(listapar)
nimpar=len(listaimpar)
print("Pares: ",npar,"Impares: ",nimpar)

Pares:  23 Impares:  17

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [102]:
listaimpar.sort()
listapar.sort(reverse=True)
print("Pares: ",listapar)
print("Impares: ",listaimpar)

Pares:  [248, 240, 232, 220, 218, 208, 204, 202, 198, 180, 178, 166, 136, 134, 84, 82, 76, 70, 42, 26, 18, 12, 10]
Impares:  [7, 15, 23, 53, 63, 69, 75, 83, 121, 137, 167, 177, 185, 201, 209, 237, 243]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [103]:
print("Longitud de la lista: ",len(lista1))
print("Suma de los numeros: ", sum(lista1))
print("Numero menor de la lista: ",min(lista1))
print("Numero mayor de la lista: ",max(lista1))

Longitud de la lista:  40
Suma de los numeros:  5249
Numero menor de la lista:  7
Numero mayor de la lista:  248

# **Diccionarios**
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [125]:
Dic={"Hector":19, "Sebastian":21, "Garza Amaya":20, "Daniel":20, "Gustavo":20,"Alexis":19}
print(Dic)

{'Hector': 19, 'Sebastian': 21, 'Garza Amaya': 20, 'Daniel': 20, 'Gustavo': 20, 'Alexis': 19}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [130]:
edad=list()
for i in Dic:
  edad.append(Dic[i])
edad.sort()
print(edad)

[19, 19, 20, 20, 20, 21]

Usando el diccionario y un loop, imprimir solo los nombres.

In [131]:
nombres=Dic.keys()
for j in Dic:
  print(j)

Hector
Sebastian
Garza Amaya
Daniel
Gustavo
Alexis

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [132]:
Dic['Melchor']=20
Dic['Ricky']=19
print(Dic)

{'Hector': 19, 'Sebastian': 21, 'Garza Amaya': 20, 'Daniel': 20, 'Gustavo': 20, 'Alexis': 19, 'Melchor': 20, 'Ricky': 19}

# **Sets**
Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [138]:
set=[random.randint(1,25) for _ in range(0,100)]
print(set)

[14, 20, 10, 20, 14, 19, 19, 25, 20, 7, 16, 20, 17, 24, 8, 8, 5, 1, 4, 18, 17, 21, 17, 20, 11, 4, 14, 25, 7, 20, 1, 5, 1, 24, 12, 18, 21, 14, 4, 3, 4, 9, 15, 9, 1, 25, 12, 15, 16, 4, 14, 5, 6, 22, 22, 10, 4, 19, 10, 14, 8, 17, 13, 7, 15, 5, 12, 21, 7, 24, 22, 12, 23, 10, 25, 14, 10, 15, 12, 6, 4, 10, 7, 16, 12, 15, 11, 5, 8, 10, 11, 22, 13, 9, 24, 15, 24, 12, 10, 5]

Comprueba la longitud de tu set.

In [139]:
len(set)

100

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [140]:
listar=[random.randint(1,5) for _ in range(1,10)]
print(listar)
for i in range(0,5):
  if listar[i] in set:
    print(listar[i], " esta en el set inicial")

[1, 1, 5, 1, 4, 3, 3, 4, 2]
1  esta en el set inicial
1  esta en el set inicial
5  esta en el set inicial
1  esta en el set inicial
4  esta en el set inicial